body {background-color: #F4B770;}

h1, h2, p {
  font-family: 'Gotu';
  font-style: normal;
  color: #000000;
}

.container {
  overflow: hidden;
  display: grid;
  row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "header1 header2 header3 header4 header5"
    ". item1 main item10 ."
    ". item2 main2 item3 ."
    ". item4 main3 item5 ."
    ". item6 main4 item7 ."
    ". item8 main5 item9 ."
}

@media (max-width: 768px) {
  .ceremonyPic {
    min-width: 300px;
    min-height: 100px;
  }

  .container {
    display: block;
    overflow: scroll;
  }
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

.boarder {
  margin: 10px;
  background: #ffffffe8;
}

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.form {
  height: auto;
  width: 400px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  color: #666;
  padding: 30px 0px;
  grid-area: main;
  box-shadow: 2px 2px 2px 4px rgb(0, 0, 0, .25);
}
