h2 {
  margin-top: 0;
}

.itinery {
  grid-column-start: item1;
  grid-column-end: item10;
  text-align: center;
  padding: 5px;
}

.ceremony {
  grid-area: item3;
  padding: 5px;
}

.trainRide {
  grid-area: item4;
  padding: 5px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .trainRide {
    margin-bottom: 0;
  }
}

.reception {
  grid-area: item7;
  padding: 5px;
}

.weddingGiftList {
  grid-column-start: item8;
  grid-column-end: item9;
  text-align: center;
  padding: 5px;
}

.ceremonyPic {
  background-image: url('../images/CR-wedding.jpg');
  background-size: cover;
  box-sizing: border-box;
  grid-column-start: item2;
  grid-column-end: main2;

}

@media (max-width: 768px) {
  .ceremonyPic {
    min-width: 18.75rem;
    min-height: 12.5rem;
  }
}


.trainRidePic {
  background-image: url('../images/TrainRide.jpg');
  background-size: cover;
  box-sizing: border-box;
  background-origin: content-box;
  grid-column-start: main3;
  grid-column-end: item5;
}

@media (max-width: 768px) {
  .trainRidePic {
    min-width: 18.75rem;
    min-height: 12.5rem;
  }
}

.receptionPic {
  background-image: url('../images/FV-Wedding.jpg');
  background-size: cover;
  box-sizing: border-box;
  grid-column-start: item6;
  grid-column-end: main4;
}

@media (max-width: 768px) {
  .receptionPic {
    min-width: 18.75rem;
    min-height: 12.5rem;
  }
}
