h2 {
  margin-top: 0;
}

.itinery {
  grid-column-start: item1;
  grid-column-end: item10;
  text-align: center;
  padding: 5px;
}

.ceremony {
  grid-area: item3;
  padding: 5px;
}

.trainRide {
  grid-area: item4;
  padding: 5px;
  margin-bottom: 100px;
}

.reception {
  grid-area: item7;
  padding: 5px;
}

.weddingGiftList {
  grid-column-start: item8;
  grid-column-end: item9;
  text-align: center;
  padding: 5px;
}

.ceremonyPic {
  width: 100%;
  align-self: center;
  grid-column-start: item2;
  grid-column-end: main2;

}


.trainRidePic {
  width: 100%;
  align-self: center;
  grid-column-start: main3;
  grid-column-end: item5;
}

.receptionPic {
  width: 100%;
  align-self: center;
  grid-column-start: item6;
  grid-column-end: main4;
}
